*{
padding: 20;
margin: 20;
box-sizing: border-box;
}

body{
    background-color: yellowgreen;
    color: red;
}

.boom{
    font-size: 4rem;
    height: 190px;
}

h1{
    height: 90px;
}

span{
    color: blueviolet;
}

fold{
    color: brown;
}

.break{
    color: aqua;
}